<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ request.site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ request.static_url('pyramid_admin:assets/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ request.static_url('pyramid_admin:assets/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('pyramid_admin:assets/css/jquery-ui.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="{{ request.static_url('pyramid_admin:assets/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('pyramid_admin:assets/js/jquery-ui.min.js') }}"></script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ request.site.url() }}">{{ request.site.title }}</a>
          <!--
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Models</li>
              {% for name, view_class in request.site.get_views() %}
                <li {% if request.view.__class__ == view_class %} class="active"{% endif %}>
                  <a href="{{ request.site.url(name=name) }}">{{ view_class.title }}</a>
                </li>
              {% endfor %}
            </ul>
            {% block sidebar_extra %}

            {% endblock %}
            <div></div>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9 b-content">
         
          {% block content %}{% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy;</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ request.static_url('pyramid_admin:assets/js/bootstrap.js') }}"></script>
     <!-- <script src="pyramid_admin:assets/js/bootstrap-alert.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-modal.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-dropdown.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-scrollspy.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-tab.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-tooltip.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-popover.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-button.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-collapse.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-carousel.js"></script>
    // <script src="pyramid_admin:assets/js/bootstrap-typeahead.js"></script> -->
    {% block extra_js %}{% endblock %}
    <script type="text/javascript">
      $(document).ready(function(){
          {% block jq_ready %}{% endblock %}
      });
    </script>
  </body>
</html>