{% extends "pyramid_admin:templates/base.html" %}

{% block extra_js %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.b-delete-button').click(function(){
                if(confirm("Вы действительно хотите удалить этот объект?")){
                    $.post($(this).attr('data-url'), {}, function(){
                        window.location.href="{{ view.url() }}";
                    });
                };
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}



    {% block functions %}
    {% endblock %}

    {% block form %}
        <form class="form-horizontal" action="" method="post">
            <fieldset>
            {% for field in obj_form %}
                <div class="control-group">
                    {{ field.label(class="control-label") }}
                    <div class="controls">
                        {{ field|errors }}{{ field }}
                    </div>
                </div>
            {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Сохранить">
                        <a class="btn" href="{{ view.url() }}">Отмена</a>
                        {% if obj %}
                            <a class="b-delete-button btn btn-danger" href="javascript:void(0)" data-url="{{ view.url(action="delete", id=obj.id) }}">Удалить</a>
                        {% endif %}
                    </div>
                </div>
                </fieldset>
        </form>
    {% endblock %}

    {% block pager %}
    {% endblock %}
{% endblock %}