{% extends "pyramid_admin:templates/base.jinja2" %}

{% block head_extra %}
    {{ super() }}

    <link href="{{ request.static_url('pyramid_admin:assets/css/chosen.css') }}" rel="stylesheet">
    <script src="{{ request.static_url('pyramid_admin:assets/js/chosen.jquery.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.b-delete-button').click(function(){
                if(confirm( '{{ _("Are you sure you want to delete this item?") }}')){
                    var form = $(this).closest('form');
                    form.attr('action', $(this).attr('data-url'));
                    form.submit();
                };
                return false;
            });

            $('#edit_form select').chosen();
        });

    </script>
{% endblock %}

{% block content %}
    <h1 class="page-header">{{ request.view.title }} - {% if obj %}{{ _("editing") }}{% else %}{{ _("adding an item") }}{% endif %}</h1>
    {% block functions %}
    {% endblock %}

    {% block form %}
        <form id="edit_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <fieldset>
            {% block form_fields %}
                {% for field in obj_form %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        <label class="control-label">{{ field.label.text }} {% if field.flags.required %}*{% endif %}</label>
                        <div class="controls">
                            {{ field }}{{ field|errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
            {% block form_fields_extra %}
            {% endblock %}
            <div class="control-group">
                <div class="controls">
                    {% block form_buttons %}
                        <input class="btn btn-primary" type="submit" name="save" value="{{ _('Save') }}">
                        <input class="btn btn-primary" type="submit" name="another" value="{{ _('Save and add another') }}">
                        {% if obj and request.view.is_allowed('delete') %}
                            <a class="b-delete-button btn btn-danger"
                             href="javascript:void(0)" 
                             data-url="{{ request.view.url(action="delete", obj=obj) }}">
                             <i class="icon-trash icon-white"></i>
                             {{ _("Delete") }}
                            </a>
                        {% endif %}
                        <a class="btn" href="{{ request.view.url() }}">{{ _("Cancel") }}</a>
                    {% endblock %}
                </div>
            </div>
            </fieldset>
        </form>
    {% endblock %}

{% endblock %}