{% extends "pyramid_admin:templates/base.jinja2" %}

{% block extra_js %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.b-delete-button').click(function(){
                if(confirm("Вы действительно хотите удалить этот объект?")){
                    $.post($(this).attr('data-url'), {}, function(){
                        window.location.href="{{ request.view.url() }}";
                    });
                };
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}



    {% block functions %}
    {% endblock %}

    {% block form %}
        <form class="form-horizontal" action="" method="post">
            <fieldset>
            {% for field in obj_form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label">{{ field.label.text }} {% if field.flags.required %}*{% endif %}</label>
                    <div class="controls">
                        {{ field }}{{ field|errors }}
                    </div>
                </div>
            {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Save">
                        <a class="btn" href="{{ request.view.url() }}">Cancel</a>
                        {% if obj and request.view.is_allowed('delete') %}
                            <a class="b-delete-button btn btn-danger"
                             href="javascript:void(0)" 
                             data-url="{{ request.view.url(action="delete", obj=obj) }}">
                             Delete
                            </a>
                        {% endif %}
                    </div>
                </div>
                </fieldset>
        </form>
     
    {% endblock %}

    {% block pager %}
    {% endblock %}
{% endblock %}