{% extends "pyramid_admin:templates/base.jinja2" %}

{% block head_extra %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.bulk-action').click(function(){
                var form = $(this).closest('form');
                form.attr('action', $(this).attr('href'));
                form.submit();
                return false;
            });

             $('#select_all').change(function(){
                var form = $(this).closest('form');
                if($(this).is(':checked')){
                    form.find("input[name=select]").attr('checked', true);
                }else{
                    form.find("input[name=select]").attr('checked', false);
                }
                
            });
        });
    </script>
{% endblock %}

{% block content %}

    
    <form action="" method="post">

    {% block functions %}
    <div class="row-fluid">

        <div class="btn-group span4">
            {% if request.view.is_allowed('new') %}
                <a class="btn btn-primary" href="{{ request.view.url(action="new") }}">{{ _("Add") }}</a> 
            {% endif %}
       
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {{ _("Action") }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            {% for act, title in request.view.bulk_actions %}
                <li>
                    <a class="bulk-action" href="{{ request.view.url(action=act) }}">{{ title }}</a>
                </li>
            {% endfor %}
            {% if request.view.is_allowed('delete') %}
                <li><a class="bulk-action" href="{{ request.view.url(action='bulk_delete') }}">{{ _("Delete selected") }}</a></li>
            {% endif %}
          </ul>
        </div>
        
    </div>
    {% endblock %}

    {% block list %}
        <p>items {{ page.first_item or 0 }} - {{ page.last_item or 0 }} of {{ page.item_count or 0 }}</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="span1"><input type="checkbox" id="select_all"/></th>
                        {% for coll in request.view.columns() %}
                            <th>{{ coll.title() }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in page.items %}
                        <tr>
                            <th><input type="checkbox" name="select" value="{{ request.view.pk(obj) }}"/></th>
                            {% for coll in request.view.columns() %}
                                <td>{{ coll(obj) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endblock %}

    </form>
            

    {% block pager %}

         {% if page.page_count > 1 %}
        <div class="pagination">
          <ul>
            {% if page.page <= 1 %}
            <li class="disabled"><a>&lt;&lt;</a></li>
            {% else %}
            <li><a href="{{ request.view.page_url(page.page - 1) }}">&lt;&lt;</a></li>
            {% endif %}
            {% for n in range(1, page.page_count + 1) %}
                <li {% if page.page == n %} class="active" {% endif %}>
                    <a href="{{ request.view.page_url(n) }}">{{ n }}</a>
                </li>
            {% endfor %}
            {% if page.page > page.page_count - 1 %}
                <li class="disabled"> <a>&gt;&gt;</a></li>
            {% else %}
                <li><a href="{{ request.view.page_url(page.page + 1) }}">&gt;&gt;</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        
    {% endblock %}
{% endblock %}

<!-- [ FILTERS ] -->
{% block sidebar_extra %}
    {% if request.view.filters %}
    <div>
        <form action="">
            <ul class="nav nav-list">
              <li class="nav-header">{{ _("Filters") }}</li>
                {% for f in request.view.filters %}
                    <li><h4>{{ f.title }}</h4></li>
                    <li>{{ f.display() }}</li>
                {% endfor %}
            <input type="submit" class="btn" value="{{ _('Apply') }}"/>
            <a href="{{ request.view.url() }}" class="btn">{{ _("Reset") }}</a>
        </form>
    </div>
    {% endif %}
{% endblock %}
<!-- [ /FILTERS ] -->

{% block jq_ready %}
    $("#filter_reset").click(function(){
        var form = $(this).closest('form');
        $('.filter_input', form).val('');
        console.log(form.find('input[type=text]'));
    });
{% endblock %}