{% extends "pyramid_admin:templates/base.jinja2" %}

{% block content %}

    

    {% block functions %}
    <p>
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ view.url(action="new") }}">Добавить</a> 
        </div>
    </p>
    {% endblock %}

    {% block list %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for f in view.field_list %}
                        <th>{{ f }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                    <tr>

                        {% for f in view.fields(obj) %}
                            <td>{{ f[1] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block pager %}
    {% endblock %}
{% endblock %}