{% extends "pyramid_admin/base.jinja2" %}

{% block content %}

    <h1 class="page-header">{{ _("Confirm objects deletion") }}</h1>

    {% if objects %}
    <h3>{{ _("Objects to delete:") }}</h3>
        <form action="" method="post" class="form-horizontal col-lg-12">
            <input type="hidden" name="confirmed" value="yes"/>
            {% for obj in objects %}
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="select" value="{{ request.view.pk(obj) }}" checked="checked"/> {{ obj }}
                  </label>
                </div>
              </div>
            {% endfor %}
            <div class="form-group">
                    <input class="btn btn-danger" type="submit" value="{{ _('Yes, delete choosen objects!') }}"/>
                    <a class="btn btn-primary" href="{{ request.view.url() }}">{{ _("Cancel") }}</a>
            </div>
        </form>
    {% else %}
        <p>{{ _("There are no objects selected for removal") }}</p>
    {% endif %}
{% endblock %}
