<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ request.static_url('pyramid_admin:assets/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      @media (min-width: 768px) {
        .sidebar-nav.navbar-collapse {
          width: 25%/* .col-sm-3 -> width */
        }
    </style>
    <link href="{{ request.static_url('pyramid_admin:assets/css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('pyramid_admin:assets/css/admin.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if request.view %}
      {% for src in request.view.extra_css %}
        <link href="{{ src }}" rel="stylesheet">
      {% endfor %}
    {% endif %}

    <script src="{{ request.static_url('pyramid_admin:assets/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('pyramid_admin:assets/js/jquery-ui.min.js') }}"></script>
    {% block head_extra %}{% endblock %}
  </head>

  <body>
    {% block navbar %}
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container col-lg-12">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ request.site.url() }}">{{ request.site.title }}</a>
        </div>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          {% block navbar_extra %}{% endblock %}
      </nav>
    </header>
    {% endblock %}

    {% block container %}
    <div class="container col-lg-12 ">
      <div class="row col-sm-12">
          {% block sidebar %}
          <div class="well sidebar-nav collapse sidebar-collapse navbar-collapse bs-navbar-collapse col-sm-3">
            {% block sidebar_nav %}
            <ul class="nav nav-pills nav-stacked">
              {% for group, views in request.site.menu_iter() %}
              {% if group %}
                <li class="nav-header">{{ group }}</li>
              {% endif %}
                {% for name, view_class in views %}
                  <li {% if request.view.__class__ == view_class %} class="active"{% endif %}>
                    <a href="{{ request.site.url(name=name) }}">{{ view_class.title }}</a>
                  </li>
                {% endfor %}
              {% endfor %}
              
            </ul>
            {% endblock %}
            {% block sidebar_nav_extra %}{% endblock %}
          </div><!--/.well -->
          {% block sidebar_extra %}{% endblock %}
          {% endblock %}
        <!--</div>-->
        <div class="col-sm-9 b-content">
          {% block messages %}
            {% for queue in ['', 'info', 'success', 'warning', 'danger', 'error'] %}
              {% for msg in request.session.pop_flash(queue) %}
                <div class="alert
                {% if queue == 'error' -%}
                  alert-danger
                {% else -%}
                  alert-{{ queue|default('info', true) }}
                {% endif -%} fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ msg|safe }}
                </div>
              {% endfor %}
            {% endfor %}
          {% endblock %}
          {% block content %}{% endblock %}

        </div><!--/col-sm-9 -->
      </div><!--/row-->
      <hr>

      <footer>
        {% block footer %}
          <p>&copy;</p>
          {% endblock %}
      </footer>

    </div><!--/.container -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block bottom_js %}
    <script src="{{ request.static_url('pyramid_admin:assets/js/bootstrap.js') }}"></script>
    {% if request.view %}
      {% for src in request.view.extra_js %}
        <script src="{{ src }}"></script>
      {% endfor %}
    {% endif %}

    {% block bottom_js_extra %}{% endblock %}
    <script type="text/javascript">
      $(document).ready(function(){
          $(".alert").alert();
          {% block jq_ready %}{% endblock %}
      });
    </script>
    {% endblock %}
  </body>
</html>
